.git
.github
.env
.env.*
node_modules
vendor
storage/logs/*.log
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
tests
README.md
npm-debug.log
yarn-error.log
Dockerfile
docker-compose*.yml
