APP_NAME="Website Selling Food"
APP_ENV=production
APP_KEY=base64:gdrlMa+26+SyjlK/6BaoQDKO61V5KvMys8oWQeuNmMs=
APP_DEBUG=false
APP_URL=https://project-selling-food-1.onrender.com
ASSET_URL=https://project-selling-food-1.onrender.com

LOG_CHANNEL=stderr
LOG_LEVEL=error
NGINX_CLIENT_MAX_BODY_SIZE=25m
RUN_DATABASE_SETUP=true

DB_CONNECTION=pgsql
DATABASE_URL=
DB_HOST=
DB_PORT=5432
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120
FILESYSTEM_DISK=local

REDIS_CLIENT=phpredis
REDIS_URL=
REDIS_PASSWORD=
REDIS_DB=0
REDIS_CACHE_DB=1

BROADCAST_DRIVER=log

MAIL_MAILER=smtp
MAIL_HOST=
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME="${APP_NAME}"

MOMO_PARTNER_CODE=
MOMO_ACCESS_KEY=
MOMO_SECRET_KEY=
